.HomePageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;    
}

.MainTitleContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}