.Titles{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);    
    font-style: italic;
    font-family: 'Barlow Condensed', sans-serif;    
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    
}
/* 
.Name{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F24E1E;
} */

.NavText{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);    
    font-style: italic;
  
}
