
.UpperPlug{
    background-image: url("../UpperPlug/UpperPlug.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: 300px;
    margin-left: 8em;

}


.HomePageContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15cm;
    margin-left: 12em;
   
}
