.Avatar {
    background-image: url("./Avatar.png");
    background-repeat: no-repeat;
    min-height: 720px;
    display: flex;
    justify-content: center;
    width: 780px;
    margin-top: 3em;
    z-index: 0;
}


.HomePageContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 7em;
}

