.LowerPlug{
    background-image: url("./LowerPlug.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
  
}

.HomePageContainer{
    display: flex;
    justify-content: flex-start;
    margin-top: 32em;
   margin-right: 5em;
   
}
