/* Title Design   */
.MainHeading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 90px;
    line-height: 72px;
    color: #E49315;
    font-family: 'Barlow Condensed', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(96, 90, 90);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);  
    width: 800px;
    margin-bottom: 0px;
    margin-top: 2em;    
    
}

/* SubHeading Design   */
.SubHeading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: #F24E1E;
    font-family: 'Barlow Condensed', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(81, 76, 76);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

/* Container for both Design   */
.MainTitleContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;  
    margin-left: 4em;


    /* background-color: red; */
}

.HomePageContainer{
    display: flex;
    align-items: center;
    max-width: 100vw;




}